* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'DM Sans', sans-serif;
    background-color: #0b0b0d;
}


.main {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 90vh;
}


/* H1 */

h1 {
    font-size: 7em;
    color: white;
}
.apagado-h1 {}
.encendido-h1 {
    display: none;
}

/* I */


.light {
    font-size: 10em;
    color: black;
}


/* BUTTONS */
.btns {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 2em;
}
button {
    width: 7em;
    height: 2.5em;
    background-color: rgb(71, 71, 71);
    border: none;
    border-radius: 2em;
    cursor: pointer;
    font-size: 1.5em;
    color: white;
    padding: 0.5em;

    transition: all 0.2s ease-in;
}
button:hover {
    background-color: rgb(255, 196, 0);
}



@media (max-width: 576px) {
    h1 {
        font-size: 2.5em;
    }
    i {
        font-size: 6em;
    }
}
